:root {
    --main-text-1: #424242;
    --main-text-hover-1: #eee;
    --main-text-disabled-1: #828282;

    --hover-bg-1: #424242;
    --hover-bg-disabled-1: #d6d6d6;
    --second-bg-1: #e1eaf2;
    --second-bg-2: #464646;
    --default-bg: #eeeef3;

    --pop-mask-bg: rgba(0, 0, 0, .4);
    --pop-block-bg: #ebeef3;
    --pop-close: #eeeef3;

    --input-1-border: #6692d0;

    --button-normal: #333;
    --button-hover: #194c93;
    --button-2: #c6dee7;
    --button-2-not-active: #536a8e;
    --button-2-hover: #6580ab;
    --button-2-disabled: #e3e3e3;
    --button-2-border: #696c77;

    --button-3: #FFF;
    --button-3-hover: #FFF;

    --button-4: #84db86;
    --button-5: #f7b3b3;
}

/* @media (prefers-color-scheme: dark) {
    :root {}
} */

html {
    font-family: monospace, "Microsoft YaHei","Heiti";
    font-size: clamp(12px, 2vw, 16px);
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: inherit;
    cursor: pointer;
    padding: 0;
    border: none;
    background: transparent;
}

input {
    border: none;
    padding: 0;

    &:focus-visible {
        outline: none;
    }
}

/* @media (max-width: 1200px) {}
@media (max-width: 1024px) {}
@media (max-width: 768px) {}
@media (max-width: 480px) {} */