:root {
    --main-text-1: #EEE;
    --main-text-hover-1: #424242;

    --second-bg-1: #E1EAF2;
    --default-bg: #EEEEF3;

    --button-normal: #333;
    --button-hover: #0073FF;
}

/* @media (prefers-color-scheme: dark) {
    :root {}
} */

html {
    font-family: monospace, "Microsoft YaHei","Heiti";
    font-size: clamp(12px, 2vw, 16px);
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    color: inherit;
    cursor: pointer;
    padding: 0;
    border: none;
}

/* @media (max-width: 1200px) {}
@media (max-width: 1024px) {}
@media (max-width: 768px) {}
@media (max-width: 480px) {} */